*{
margin:0;
padding: 0;
}

body{

font-family: sans-serif;

}

#nav-bar{
position: fixed;
top: 0;
z-index:10;

    float: left;
    width: 100%;


}

.navbar{

background-image: linear-gradient(to right,#4a4a4a,#000);


padding: 0 !important;	

}

.navbar-brand img{

	height: 40px;
	padding-left:20px;


}


.navbar-nav li a{


color: #ffffff !important;
font-weight: 600;
float: right;
text-align: center;


}
.navbar-toggler .fa-bars{


color: #ffffff !important;
font-size:30px


}

#banner{

	background: rgb(250,238,250);
	background: linear-gradient(0deg, rgba(250,238,250,1) 8%, rgba(65,129,210) 100%);
	color:#fff;
	padding-top: 5%
}




.promo-title{


font-size:40px;
font-weight: 600;



}

#services {
	background-color: #f9edf9
}

.services {
	padding: 80px 0;
}


#services .service-img{
	width: 100px;
	margin-top: 20px;
	padding-top: 20px
}


#services .services {
	padding:20px;
}


#services .services h4{
	padding:5px;
	margin-top: 25px;
	text-transform: uppercase;
}


#services .services .btn-primary{
	background-image: linear-gradient(to right,#a517ba,#5f1782);
	color: #ffffff !important;
	border: none
}

.title{
	padding-top: 16px;
}
 .title::before{
	content: '';
	background: #6e0f9c;
	width: 200px;
	height:5px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	transform: translateY(63px);


}


 .title::after{
	content: '';
	background: #6e0f9c;
	width: 100px;
	height:10px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	transform: translateY(8px);
	margin-bottom: 40px


}



#about-us{

	background: #f8f9fa;
	padding-top: 50px


}


#about-us ul {
margin-left:50px ;

}


#about-us ul li{
margin:10px 0;

}

#about-us .about-title{

	font-size: 40px;
	font-weight: 600;
	margin-top: 8%


}


#testimonials{
	margin:18px 0;
}
.testimonials{
	border-left: 4px solid #7b1798;
	margin-top: 50px;
	margin-bottom: 50px;
}

#testimonials img{
	height: 60px;
	width: 60px;
	border-radius:58px;
	margin:18px 0;
}


#testimonials .user-details{
	display: inline-block;
	font-size: 12px
}

#social-media{
	background: #f8f9fa;
	padding-top: 50px;
	    padding-bottom: 50px;
}
#social-media p{
font-size: 36px;
font-weight: 600;
margin-bottom: 30px
}
.social-icons img{
	height: 50px;
	transition: 0.5s
}

.social-icons a:hover img{
	transform: translateY(-10px);
}



#footer{

	background: rgb(250,238,250);
	background: linear-gradient(180deg, rgba(250,238,250,1) 9%, rgba(95,23,130,1) 100%);
	color:#fff;
	padding-top: 5%;
	margin:30px;

}

.footer-box{
padding: 30px 0

}


.footer-box img{
	width: 120px;
	margin-bottom: 20px

}

.footer-box .title-footer{
	font-weight: 600;
	font-size: 20px

}

.footer-box p .fa{
	margin-right:10px;
	font-size: 20px;
	font-weight: 600

}

#footer img{

	height: 40px;
	padding-left:20px;


}

#footer .btn-primary{
     background: rgb(250,238,250);
	background: linear-gradient(180deg, rgba(250,238,250,1) 9%, rgba(95,23,130,1) 100%);
	color:#fff;
	margin-top: 5%;
	border: none;
	height: 40px



}

.hr{


	border: 0.5px solid #fff;
	 width: 100%;
    float: left;
}

.copyright{
    text-align: center;
    color: #fff;
    width: 100%;
    float: left;
}









